@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
@import url('./themes.css');

:root {

    --round-deg: 1rem
}

body {
    font-size: 2rem;
    font-family: 'League Spartan', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.calculator {
    padding: 1rem;
    width: 350px;
    border-radius: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.header_logo {
    font-size: 2rem;
}

.theme-switcher {
    display: flex;
    align-items: flex-end;
}

.theme-switcher__title {
    font-size: .8rem;
    margin-right: 30px;
}

.theme-switcher__navi {
    display: flex;
    justify-content: space-around;
    font-size: .8rem;
}

.theme-switcher__switch {
    position: relative;
    width: 70px;
    height: 23px;
    margin-top: 3px;
    border-radius: var(--round-deg);
    padding: 0 5px;
    display: flex;
    align-items: center;
}

.theme-switcher__sections {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
}

.theme-switcher__section {
    height: 100%;
    width: 33.3%;
    cursor: pointer;
}

.theme-switcher__btn {
    position: absolute;
    top: 50%;
    left: 5px;
    margin-top: -7.5px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    transition: all .2s;
}

.calculator__display {
    position: relative;
    padding: 1rem;
    border-radius: var(--round-deg);
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.5rem;
}

.calculator__operand {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 12pt;
    opacity: .5;
}

.keyboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 12px;
    border-radius: var(--round-deg);
    padding: 2rem;
}

.keyboard__item {
    height: 60px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.keyboard__body:hover {
}

.keyboard__body {
    width: 100%;
    height: 55px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    transition: .2s;
}

.keyboard__body--delete {
    font-size: 1.2rem;
    padding-top: 8px;
}
.keyboard__item--delete {
}

.keyboard__item--reset {
    grid-column: 1/3;
}

.keyboard__item--equal {
    grid-column: 3/-1;
}

.keyboard__body--equal {
    font-size: 1.2rem;
}

.keyboard__body--reset {
    font-size: 1.2rem;
    padding-top: 8px;
}

@media screen and (min-width: 1024px) {
    .calculator {
        width: 500px;
    }
    .keyboard {
        gap: 20px
    }
    .calculator__display {
        padding: 0.6em;
    }
    .calculator__display {
        font-size: 1.4em;
    }
}